<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Dice Game</title>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <!-- Optional: Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

<div class="cont">
    <div class="table_container" id = "tableBox">
        <div class="table-header" id="dragHandle">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M354.5-269.5Q372-287 372-312t-17.5-42.5Q337-372 312-372t-42.5 17.5Q252-337 252-312t17.5 42.5Q287-252 312-252t42.5-17.5Zm0-336Q372-623 372-648t-17.5-42.5Q337-708 312-708t-42.5 17.5Q252-673 252-648t17.5 42.5Q287-588 312-588t42.5-17.5Zm168 168Q540-455 540-480t-17.5-42.5Q505-540 480-540t-42.5 17.5Q420-505 420-480t17.5 42.5Q455-420 480-420t42.5-17.5Zm168 168Q708-287 708-312t-17.5-42.5Q673-372 648-372t-42.5 17.5Q588-337 588-312t17.5 42.5Q623-252 648-252t42.5-17.5Zm0-336Q708-623 708-648t-17.5-42.5Q673-708 648-708t-42.5 17.5Q588-673 588-648t17.5 42.5Q623-588 648-588t42.5-17.5ZM216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h528q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H216Z"/></svg>
            Poker Dice
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M354.5-269.5Q372-287 372-312t-17.5-42.5Q337-372 312-372t-42.5 17.5Q252-337 252-312t17.5 42.5Q287-252 312-252t42.5-17.5Zm0-336Q372-623 372-648t-17.5-42.5Q337-708 312-708t-42.5 17.5Q252-673 252-648t17.5 42.5Q287-588 312-588t42.5-17.5Zm168 168Q540-455 540-480t-17.5-42.5Q505-540 480-540t-42.5 17.5Q420-505 420-480t17.5 42.5Q455-420 480-420t42.5-17.5Zm168 168Q708-287 708-312t-17.5-42.5Q673-372 648-372t-42.5 17.5Q588-337 588-312t17.5 42.5Q623-252 648-252t42.5-17.5Zm0-336Q708-623 708-648t-17.5-42.5Q673-708 648-708t-42.5 17.5Q588-673 588-648t17.5 42.5Q623-588 648-588t42.5-17.5ZM216-144q-29.7 0-50.85-21.15Q144-186.3 144-216v-528q0-29.7 21.15-50.85Q186.3-816 216-816h528q29.7 0 50.85 21.15Q816-773.7 816-744v528q0 29.7-21.15 50.85Q773.7-144 744-144H216Z"/></svg>
        </div>


        <table id="scoreTable" class="">
                <thead>

                <tr class='label'>
                <th colspan='4'>Player</th>
                <th class='diagonal'></th>

                <th colspan='3'>Ai</th>

                <th  class='diagonal '></th>

                </tr>
                </thead>

                <tbody>

                <tr data-row="1">
                    <td class="label">1</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"></td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>

                <tr data-row="2">
                    <td class="label">2</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"></td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>

                <tr data-row="3">
                    <td class="label">3</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"></td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>
                <tr data-row="4">
                    <td class="label">4</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"></td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>
                <tr data-row="5">
                    <td class="label">5</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"></td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>
                <tr data-row="6">
                    <td class="label">6</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"></td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>
                <tr data-row="7">
                    <td class="label"></td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"></td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>

                <tr data-row="8">
                    <td class="label">P</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"></td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>

                <tr data-row="9">
                    <td class="label">2+2</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"> </td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"> </td>
                </tr>

                <tr data-row="10">
                    <td class="label">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 -960 960 960" width="1.5em" fill="#1f1e1e"><path d="m80-160 400.67-640L880-160H80Zm119.33-66.67h561.34l-280-446.66-281.34 446.66ZM480-450.33Z"/></svg>
                    </td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"> </td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"> </td>
                </tr>
                <tr data-row="11">
                    <td class="label">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 -960 960 960" width="1.5em" fill="#1f1e1e"><path d="M120-120v-720h720v720H120Zm66.67-66.67h586.66v-586.66H186.67v586.66Zm0 0v-586.66 586.66Z"/></svg>
                    </td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"> </td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"> </td>
                </tr>

                <tr data-row="12">
                    <td class="label">Full</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"> </td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"> </td>
                </tr>
                <tr data-row="13">
                    <td class="label">LStr</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"> </td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"> </td>
                </tr>
                <tr data-row="14">
                    <td class="label">BStr</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"> </td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"> </td>
                </tr>
                <tr data-row="15">
                    <td class="label">

                        <svg xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 -960 960 960" width="1.3em" fill="#292828"><path d="M240-120v-720h285.33Q624-840 692-772q68 68 68 166.67 0 98.66-68 166.66t-166.67 68h-152V-120H240Zm133.33-384H528q43 0 72.17-29.17 29.16-29.16 29.16-72.16t-29.16-72.17Q571-706.67 528-706.67H373.33V-504Z"/></svg>

                    </td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"> </td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"> </td>
                </tr>
                <tr data-row="16">
                    <td class="label">💲</td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"> </td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>
                <tr data-row="17">
                    <td class="label"></td>
                    <td class="clickable p1" data-col="0"></td>
                    <td class="clickable p1" data-col="1"></td>
                    <td class="clickable p1" data-col="2"></td>
                    <td class="result p1 result"> </td>

                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai"></td>
                    <td class="ai result"></td>
                </tr>
                </tbody>
        </table>


        <div id="resizeHandle" class="resize-handle"></div>
    </div>

    <div class = 'container text-center' id = "gameArea">
        <div id="diceArea">
            <div class="die" id="die1">

            </div>
            <div class="die" id="die2">

            </div>
            <div class="die" id="die3">

            </div>
            <div class="die" id="die4">

            </div>
            <div class="die" id="die5">

            </div>

        </div>

        <button id="rollButton" >
            <img src="{{ url_for('static', path='img/cup.png') }}" alt="Roll Dice" style="width: 8em; height:8em; margin-right: 8px;">
        </button>

    </div>

    <div id="resultArea" class="text-center">
            <h2 id="resultMessage"></h2>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>